/* -----------------
Buttons
----------------- */
button,
input {
  outline: none;
}

.btn-wrapper {
  text-align: center;
  @include grid-container;
  margin-top: rem(40px);

  &__orange {
    margin-top: rem(25px);
  }
}

.button {
  padding: rem(7.5px 25px);
  max-width: 300px;
  margin: 0 auto;
  display: block;
  width: 100%;
  font-weight: $font-bold;
  @include rem(font-size, $large-font-size);
}

.button__merge {
  max-width: 300px;
  margin: 0 auto;
  display: block;
  position: relative;
  width: 100%;
}

.button--shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.button-orange {
  background: $color-orange;
  border-radius: 4px;
  color: $color-primary;
  border: none;
}

.button-black {
  background: $color-primary;
  border-radius: 4px;
  color: $color-orange;
  border: none;
  @include rem(font-size, $base-font-size);
  font-weight: $font-normal;
  max-height: 30px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;

  .fa {
    margin-right: rem(5px);
  }

  &--merged {
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
    max-width: 35px;
    max-height: 34px;
    padding: 0;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .fa {
      margin: 0;
    }
  }
}

.button-orange--outlined {
  background: linear-gradient(to bottom, rgba(88, 88, 88, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: $color-orange;
  border-radius: 25px;
  border: 1px solid $color-orange;
}

.button-delete {
  background: $color-orange;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: rem(0 4px);

  &:hover,
  &:focus {
    background: $color-primary;
    .icon-delete--black {
      &:before {
        background: url('../img/delete-icon.svg') center center no-repeat;
      }
    }
  }
}

.back-button {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: $color-orange;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background: $color-primary;

    .icon-back--black {
      &:before {
        background: url('../img/back-icon.svg') center center no-repeat;
      }
    }
  }
}

.round-button__wrapper {
  position: fixed;
  bottom: 56px;
  right: 0;
  padding: rem(15px);
  z-index: 1000;
}

.btn__wrapper {
  @include rem(font-size, $xsmall-font-size);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.button--round {
  width: 35px;
  height: 35px;
  background: $color-orange;
  color: $color-primary;
  transition: .4s all $cubic-transition;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  @include rem(font-size, 28px);
  font-weight: $font-medium;
  box-shadow: 0 -1px 3px rgba(125, 122, 122, .5);

  &:hover,
  &:focus {
    background: $color-primary;
    color: $color-orange;
  }
}

.add-button {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.b-btn {
  background-size: 15px !important;
  margin: rem(10px 0 0);
}

.save-button {
  background: url('../img/save-icon.svg') $color-orange center center no-repeat;
  &:hover,
  &:focus {
    background: url('../img/save-icon--orange.svg') $color-primary center center no-repeat;
  }
}

.print-button {
  background: url('../img/print-icon--black.svg') $color-orange center center no-repeat;
  background-size: 18px !important;
  &:hover,
  &:focus {
    background: url('../img/print-icon.svg') $color-primary center center no-repeat;
  }
}

.cancel-button {
  background: url('../img/cancel-icon--black.svg') $color-orange center center no-repeat;
  &:hover,
  &:focus {
    background: url('../img/cancel-icon.svg') $color-primary center center no-repeat;
  }
}