/* -----------------
Forms
----------------- */
form {
  display: block;
}

input,
textarea,
select {
  max-width: 310px;
  margin: 0 auto;
}

.form-control {
  color: $color-primary;

  @include placeholder {
    color: $color-primary !important;
  }
}

textarea {
  resize: none;
}

.input-group {
  z-index: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}