/* -----------------
Navigation
----------------- */
.navbar {
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 100%;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.container-fluid > .navbar-header {
  margin-left: 0;
  margin-right: 0;
}

.navbar-header {
  text-align: center;
  position: relative;

  @include grid-media($small-screen) {
    width: 100%;
  }

  .back-button {
    float: right;
    margin-top: rem(13px);
  }
}

.navbar-header__title {
  @include rem(font-size, $base-font-size);
  font-weight: $font-normal;
  color: $color-white;
  position: absolute;
  left: 50%;
  top: 50%;
  line-height: 1.4;
  margin: 0;
  transform: translate(-50%, -50%);

  @include grid-media($small-screen) {
    @include rem(font-size, $large-font-size);
  }
}

.navbar-default {
  &,
  .navbar-offcanvas {
    background: $color-primary;
  }

  .navbar-nav {
    > .active {
      > a,
      > div {
        &,
        &:hover,
        &:focus {
          color: $color-orange;
          background: none;
        }
      }
    }
    > li {
      float: left;
      width: 100%;
      border-bottom: 1px solid $color-black;
      box-shadow: 0 1px 0 $color-dark-gray;
      margin: 0;

      &.dropdown {
        border: none;
        > a,
        > div {
          border-bottom: 1px solid $color-black;
          box-shadow: 0 1px 0 $color-dark-gray;

          .caret {
            display: none;
          }
        }
      }

      > a,
      > div {
        @include rem(font-size, $small-font-size);
        color: $color-light-gray;
        padding-top: rem(10px);
        padding-bottom: rem(10px);
        padding-left: rem(10px);
        padding-right: rem(10px);

        &:hover,
        &:focus {
          color: $color-orange;
        }

        .icon {
          margin-right: rem(8px);
        }
      }
    }
  }

  .navbar-toggle {
    border: none;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      background: none;
    }

    .icon-bar {
      background: $color-orange;
    }
  }
}

.navbar-toggle {
  display: block;
}

.dropdown-menu {
  background: none;
  padding: 0;
  margin: 0 !important;
  border: none !important;

  > li {
    border-bottom: 1px solid $color-black;
    box-shadow: 0 1px 0 $color-dark-gray;
    margin: 0;

    > a,
    > div {
      @include rem(font-size, $small-font-size);
      color: $color-light-gray;
      padding: rem(12px 0 12px 40px);

      .icon {
        margin-right: rem(8px);
      }

      &:hover,
      &:focus {
        background: none;
        color: $color-orange;
      }
    }
  }
}

.dropdown-toggle {
  border-bottom: 1px solid $color-black;
  box-shadow: 0 1px 0 $color-dark-gray;
}

.navbar-offcanvas {
  padding-left: 0;
  padding-right: 0;

  .close-icon {
    padding-right: rem(15px);
  }
}

.close-icon {
  display: block;
  text-align: right;
  margin-top: rem(15px);
  img {
    max-width: 16px;
  }
}

.prof-icon {
  text-align: center;
  padding-top: rem(15px);

  .prof__img {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border-radius: 100%;
    border: 2px solid $color-orange;
    background-size: cover !important;

    @include grid-media($small-screen) {
      height: 100px;
      width: 100px;
    }
  }

  .prof__name {
    @include rem(font-size, $base-font-size);
    color: $color-orange;
    margin: rem(15px 0);
  }
}

.btn-right {
  float: right;
  @include rem(font-size, 22px);
  margin-top: rem(10px);
}