/* -----------------
Product Image Updater
----------------- */
.prod-img__updater {
  border: 2px solid $color-gray;
  border-radius: 8px;
  margin: rem(15px auto);
  max-width: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  height: 100px;

  a {
    display: block;
    width: 100%;
    padding: rem(35px 0);
    text-align: center;
  }
}

.prod-img__title {
  @include rem(font-size, $h1-font-size);
}