/* -----------------
Product Image Updater
----------------- */
.prod-img__updater {
  background: rgb(253, 169, 22);
  background: linear-gradient(to bottom, rgba(253, 169, 22, 1) 0%, rgba(255, 229, 0, 1) 100%);
  border: 1px solid $color-gray;
  border-radius: 8px;
  margin: rem(15px auto 30px);
  max-width: 155px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    width: 100%;
    padding: rem(35px 0);
    text-align: center;
  }
}

.prod-img__title {
  @include rem(font-size, $h1-font-size);
}