/* -----------------
Product Image Updater
----------------- */
.prod-img__updater {
  position: relative;
  border: 2px solid $color-gray;
  border-radius: 100%;
  margin: rem(15px auto);
  width: 120px;
  height: 120px;
  background-size: cover !important;

  a {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 2px 5px;
    border-radius: 100%;
    z-index: 0;
    border: 1px solid $color-gray;
    background: $color-light-gray;
  }
}

.prod-img__title {
  @include rem(font-size, $h1-font-size);
}