/* -----------------
Search Header
----------------- */
.search-header {
  position: fixed;
  top: 50px;
  width: 100%;
  background: $color-white;
  // box-shadow: 0 1px 2px rgba(48, 48, 48, .35);
  padding: rem(10px 0 0);
  z-index: 1;

  .form-group {
    margin-bottom: rem(10px);
  }
}