/* -----------------
Tabs
----------------- */
$base-margin: 20px;
$tab-height: 35px;
$tab-border-radius: 35px;

.tab__title {
  color: $color-primary;
  font-size: 24px;
  line-height: 1.25;
  margin-top: $base-margin;
  margin-bottom: $base-margin;
}

.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: $base-margin;
}

.tab-slider--tabs {
  max-width: 500px;
  width: 100%;
  margin: rem(0 auto);
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: $tab-border-radius;
  overflow: hidden;
  background: $color-orange;
  height: $tab-height;
  user-select: none;

  &:after {
    content: "";
    width: 50%;
    background: $color-primary;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: $tab-border-radius;
  }

  &.slide:after {
    left: 50%;
  }
}

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1.8;
  width: 50%;
  font-weight: bold;
  color: $color-primary;
  text-transform: uppercase;
  text-align: center;
  padding: 12px $base-margin;
  margin: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  user-select: none;

  .icon {
    margin-right: rem(5px);
  }

  &:before,
  &:after {
    display: none;
  }

  &.active {
    color: $color-orange;

    .icon-settings--black {
      &:before {
        background: url('../img/settings-icon.svg') center center no-repeat;
        background-size: contain;
      }
    }

    .icon-profile--black {
      &:before {
        background: url('../img/profile-icon.svg') center center no-repeat;
        background-size: contain;
      }
    }
  }
}

.tab-slider--body {
  margin-bottom: $base-margin;
}

.tab-slider--container {
  padding-bottom: 60px;
}