/**
* Utility classes
*/

// HIDE/SHOW - Utilities for hiding and showing content
.hidden {
  display: none !important;
}

.show {
  display: block;
}

//FLOATS - Utilities for floating content
.pull-r {
  float: right;
}

.pull-l {
  float: left;
}

//HIDE - Desktop
.hide-desktop {
  display: block;

  @include grid-media($small-screen) {
    display: none;
  }
}

//HIDE - Mobile
.hide-mobile {
  display: none;

  @include grid-media($small-screen) {
    display: block;
  }
}

//FULL HEIGHT
.full-height {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

//WRAPPER
.wrapper {
  padding: rem(82.5px 0 65px);
}

//PADDING DISABLE
.padding-none {
  padding: 0;
}