/* -----------------
Profile Page
----------------- */
.prof-img__updater {
  margin-bottom: rem(15px);
}

.profile__title {
  @include rem(font-size, $h1-font-size);
  font-weight: $font-medium;
  margin: rem(0 0 30px);
  display: block;
  text-align: center;
}